.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #191b1f;
  text-align: center;
}

/* ===== CUSTOM FONST ===== */
@font-face {
  font-family: A;
  src: url("/public/Fonts/Frijole-Regular.ttf");
  font-weight: 200px;
}


@font-face {
  font-family: B;
  src: url("/public/Fonts/Coiny-Regular.ttf");
  font-weight: 200px;
}
/* =====// CUSTOM FONST //===== */

.Cards{
  transition: all 0.2s !important;
}
.Cards:hover{
  background-color: #242f88;
}


.iconButton {
  transition: all 0.3s !important;
}
.iconButton:hover{
  background-color: rgb(196, 196, 196) !important;
}



